.paginacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

button.primary{
  background-color: rgba(9, 9, 9, 0.726);
  color: white;
  border-radius: 15px;
  border: 2px solid black;
}
