.card-personagem {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .1s ease;
  background-color: white;
}

.card-personagem:hover {
  transform: scale(1.02);
}
.card-personagem > img {
  width: 280px;
  height: 280px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 8px solid #ffffff;
}

.card-personagem button.botao-favorito {
  position: absolute;
  top: .9rem;
  right: .9rem;
  background-color: rgb(255, 255, 255);
}

.card-personagem > div.card-personagem-body {
  padding: 10px;
  border: 1px solid #ffffff;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}